<div class="star-rating-container">
    <div class="star-rating">
      <fieldset>
        <input type="radio" ng-model="rating_val" id="star5" name="rating" value="5" /><label for="star5" title="Outstanding">5 stars</label>
        <input type="radio" ng-model="rating_val" id="star4" name="rating" value="4" /><label for="star4" title="Very Good">4 stars</label>
        <input type="radio" ng-model="rating_val" id="star3" name="rating" value="3" /><label for="star3" title="Good">3 stars</label>
        <input type="radio" ng-model="rating_val" id="star2" name="rating" value="2" /><label for="star2" title="Poor">2 stars</label>
        <input type="radio" ng-model="rating_val" id="star1" name="rating" value="1" /><label for="star1" title="Very Poor">1 star</label>
      </fieldset>
    </div>

  <button type="submit" class="btn btn-sm btn-primary" ng-click="postNewWalletRating(rating_val)">Submit</button>
  <BR>
  <BR>

    <div class="existing-ratings">
        <h3>Wallet Ratings</h3>   
      <ul ng-repeat="rating in ratings">

          <li> Rating ID: {{ rating.rate_id }} </li>
        <li> Rating Value: {{ rating.rating_val }} </li>
        
      </div>
</div>